!*.xcodeproj/xcshareddata/xcschemes/*.xcscheme
.build/
.xcshareddata/
.xcuserdata/
*.dSYM
*.dSYM.zip
*.log
*.hmap
*.ipa
*.mdb
*.xcactivitylog
*.xcodeproj/project.xcsettings
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcshareddata/xcschemes/*
*.xcodeproj/xcuserdata/
*.xcscmblueprint
*.xcuserdata
*.xcworkspace
/.idea/
Carthage/Build/**
DerivedData/
fastlane/Preview.html
fastlane/report.xml
fastlane/test_output
Package.resolved
Packages/
playground.xcworkspace
Pods/
timeline.xctimeline

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build logs
build-logs/

# Xcode user state
*.xcuserstate
