--indent 4
--maxwidth 155
--wraparguments before-first
--wrapelements before-first
--commas inline
--stripunusedargs closure-only
--self insert
--header ignore
--importgrouping testable-bottom
--trimwhitespace always
--disable blankLinesAtEndOfScope
--enable markTypes