<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MyCustomDocument</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.text</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.senatov.miminavigator.file</string>
			<key>UTTypeDescription</key>
			<string>MiMiNavigator File Reference</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>192.168.178.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<false/>
			</dict>
			<key>fritz.box</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>MiMiNavigator discovers network hosts and file shares on your local network.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_smb._tcp</string>
		<string>_afpovertcp._tcp</string>
		<string>_sftp-ssh._tcp</string>
		<string>_ftp._tcp</string>
		<string>_ipp._tcp</string>
		<string>_ipps._tcp</string>
		<string>_printer._tcp</string>
		<string>_pdl-datastream._tcp</string>
	</array>
	<key>NSAppleEventsUsageDescription</key>
	<string>MiMiNavigator needs to control Finder to show file information.</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
</dict>
</plist>
