<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>windowWidthMimi0</key>
    <real>800</real>
    <key>windowHeightMiMi0</key>
    <real>600</real>
    <key>leftPanelWidthMiMi0</key>
    <real>200</real>
    <key>menuStatemiMi0</key>
    <string>open</string>
</dict>
</plist>
